<div class="page-wrapper">
  <div class="flex-padding-20px">
    <div class="flex-row">
      <div class="meal-list">
        <div class="meal-header">
          <h1>Meals</h1>
          <button mat-fab color="primary" routerLink="/create-meal">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <mat-list>
          <div *ngFor="let meal of meals">
            <div matListItemTitle>
              <span>{{ meal.name }}</span>
            </div>
          </div>
        </mat-list>
      </div>

      <div class="ingredient-list">
        <div class="ingredient-header">
          <h1>Ingredients</h1>
          <button mat-fab color="primary" (click)="openNewIngredientDialog()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <mat-list>
          <div *ngFor="let ingredient of ingredients">
            <div class="ingredient-list-item">
              <div class="title-span">
                <span>{{ ingredient.name }}</span>
              </div>
              <span class = "spacer"></span>
             <mat-icon (click)="openNewIngredientDialog(ingredient)">edit</mat-icon>
             <mat-icon (click)="deleteIngredient(ingredient)" style = "color: darkred">delete</mat-icon>
            </div>
          </div>
        </mat-list>
      </div>
      <!-- <h1>Create Menu</h1>
    <form [formGroup]='menuGroup'>
      <div style = "display: flex; flex-direction: row;">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
      <input matInput formControlName="nameControl">
      </mat-form-field>
      <mat-form-field appearance="outline" style = "margin-left: 50px">
        <mat-label>Instructions</mat-label>
        <textarea matInput formControlName="instructionControl">
        </textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" style = "margin-left: 50px">
        <mat-label>Labels</mat-label>
        <mat-select formControlName="ingredients" multiple>
          <mat-option>Apfel</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    </form> -->
    </div>
  </div>
</div>
