<div class="page-wrapper">
  <div class="flex-padding-20px">
    <div class="flex-row">
      <div class="meal-list">
        <div class="meal-header">
          <h1>Meals</h1>
          <button mat-fab color="primary" routerLink="/create-meal">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <form [formGroup]="searchGroup" class = "form">
        <mat-form-field style = "width: 300px;">
          <mat-label>Search Meals</mat-label>
          <input formControlName = "searchControl" matInput type="text">
        </mat-form-field>
      </form>
        <mat-list>
          <mat-list-item *ngFor="let meal of meals" style = "cursor: pointer;" [routerLink]="['/display-meal/'+meal.id]">
            <div matListItemTitle >
              <div class="title-span">
                <span>{{ meal.name }}</span>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="ingredient-list">
        <div class="ingredient-header">
          <h1>Ingredients</h1>
          <button mat-fab color="primary" (click)="openNewIngredientDialog()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <mat-list>
          <div *ngFor="let ingredient of ingredients">
            <div class="ingredient-list-item">
              <div class="title-span">
                <span>{{ ingredient.name }}</span>
              </div>
              <span class="spacer"></span>
              <mat-icon (click)="openNewIngredientDialog(ingredient)"
                >edit</mat-icon
              >
              <mat-icon
                (click)="deleteIngredient(ingredient)"
                style="color: darkred"
                >delete</mat-icon
              >
            </div>
          </div>
        </mat-list>
      </div>
    </div>
  </div>
</div>
