<h1 cdkFocusRegionStart mat-dialog-title>New Ingredient</h1>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="ingredientForm" style = "margin-top: 10px">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        #name
        matInput
        placeholder="Name of the Ingredient"
        formControlName="nameControl"
        maxlength="100"
        required
      />
      <mat-error
        *ngIf="ingredientForm.controls['nameControl'].hasError('required')"
      >
        Name is mandatory
      </mat-error>
      <mat-hint align="end">{{ name.value.length }}/100</mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    [disabled]="!ingredientForm.valid"
    color="primary"
    mat-raised-button
    (click)="save()"
  >
    Save
  </button>
  <button
    color="warn"
    mat-raised-button
    (click)="close()"
  >
    Cancel
  </button>
</mat-dialog-actions>
