mat-card {
  width: 50%;
  padding: 20px;
  margin-bottom: 30px;
}

mat-card-content span {
  margin-top: 50px;
}

.ingredient-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ingredient-row span {
  font-size: large;
}
