<div class="page-wrapper">
  <div
    class="flex-padding-20px"
    style="justify-content: flex-start; align-items: center"
  >
    <h1>Create new Meal</h1>

    <mat-card *ngIf="!ingridientsQuans">
      <mat-card-title> Meal Details </mat-card-title>
      <mat-card-content>
        <form [formGroup]="menuGroup">
          <mat-form-field hintLabel="Max 100 Characters " appearance="outline">
            <mat-label>Name</mat-label>
            <input
              #name
              matInput
              placeholder="Name of the project"
              formControlName="nameControl"
              maxlength="100"
              required
            />
            <mat-error
              *ngIf="menuGroup.controls['nameControl'].hasError('required')"
            >
              Name is mandatory
            </mat-error>
            <mat-hint align="end">{{ name.value.length }}/100</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" hintLabel="Max 1000 Characters">
            <mat-label>Instructions</mat-label>
            <textarea
              #descr
              placeholder="Instructions for the Meal"
              matInput
              cdkTextareaAutosize
              formControlName="instructionControl"
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="7"
              maxlength="1000"
              required
            ></textarea>
            <mat-error
              *ngIf="
                menuGroup.controls['instructionControl'].hasError('required')
              "
            >
              Instructions are mandatory
            </mat-error>
            <mat-hint align="end">{{ descr.value.length }}/1000</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ingredients</mat-label>
            <mat-select formControlName="ingredients" multiple required>
              <mat-option
                *ngFor="let ingridient of ingridients$ | async"
                [value]="ingridient"
              >
                {{ ingridient.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </form>

        <button
          mat-raised-button
          [disabled]="!menuGroup.valid"
          color="primary"
          (click)="continueWithIngridients()"
        >
          Continue
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="ingridientsQuans">
      <mat-card-title> Quantities and Units </mat-card-title>
      <mat-card-content>
        <div *ngFor="let ingredient of ingredients; let i = index">
          <div class="quans-row">
            <span class="title">{{ ingredient.name }}</span>
            <span class="spacer"></span>

            <mat-form-field style="width: 20%">
              <mat-label>Quantity</mat-label>
              <input [(ngModel)]="quantities[i]" type="number" matInput />
            </mat-form-field>
            <mat-form-field style="width: 20%">
              <mat-label>Unit</mat-label>
              <mat-select [(ngModel)]="units[i]" placeholder = "ml">
                <mat-option value="ml">ml</mat-option>
                <mat-option value="g">g</mat-option>
                <mat-option value="pc">pc</mat-option>
                <mat-option value="tbsp">tbsp</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div>
          <button color="primary" mat-raised-button (click)="createMeal()">Save Meal</button>
        </div>

      </mat-card-content>

    </mat-card>
  </div>
</div>
